<div class="wrap_container">
  <div class="__d_wrap">
      <div class="__d_content">
          <div class="__dg __g2 __d_col">
              <div class="__d_img_b">
                  <div class="__img_box">
                      <div class="__img_box_content">
                          <img [src]="IMG_PATH + nft.photo" />
                      </div>
                  </div>
              </div>
              <div class="__d_content_b">
                  <div class="__d_c_head">
                      <h1>{{ nft?.name }}</h1>
                      <div class="__back_btn"><a [routerLink]="['/']"><span></span>Буцах</a></div>
                      <div class="__dfjs">
                          <div class="__d_cm_status __limited"><span>{{ nft?.balance }}/{{ nft?.limit }}</span>Limited Edition</div>
                          <div class="__box_im_f">
                              <div class="__like_share __like" (click)="onLike()"><span></span>{{ likeCount }}</div>
                              <div class="__like_share __view"><span></span>{{ viewCount }}</div>
                              <div class="__like_share __share" (click)="onShare()"><span></span>{{ shareCount }}</div>
                          </div>
                      </div>
                      <div class="__dg __g2 __gap1_6">
                          <a [routerLink]="['/creator', nft?.createrId]" class="__dg __d_creator __aic">
                              <div class="__d_creator_img"><img [src]="IMG_PATH + nft.ownerPhoto" alt="Гарчиг" /></div>
                              <div class="__d_creator_desc">
                                  <p>Бүтээгч</p>
                                  <h4>{{ nft?.creator }}</h4>
                              </div>
                          </a>
                          <a [routerLink]="['/collection', nft?.createrId]" class="__dg __d_creator __aic">
                              <div class="__d_creator_img"><img [src]="IMG_PATH + nft.ownerPhoto" alt="Гарчиг" /></div>
                              <div class="__d_creator_desc">
                                  <p>Цуглуулга</p>
                                  <h4>{{nft?.collection}}</h4>
                              </div>
                          </a>
                      </div>
                  </div>
                  <div class="__d_c_main">
                      <div class="__d_c_desc">
                          <p>{{nft?.description}}</p>
                      </div>
                      <div class="__box_price">
                          <label class="__price_label">Үнэ</label>
                          <div class="__dg __g1 __gap1_6">
                            <label class="label">
                                <label class="radio-label">
                                    <input type="radio" name="check" class="radiobox">
                                    <span class="checkmark"></span>
                                    {{ nft?.priceMNT < 100 ? '-' : nft?.priceMNT | number }}<i>URG</i>
                                </label>
                            </label>
                            <label class="label">
                                <label class="radio-label">
                                    <input type="radio" name="check" class="radiobox">
                                    <span class="checkmark"></span>
                                    {{ nft?.priceMNT * 2 < 100 ? '-' : nft?.priceMNT * 2 | number}}<i>MNT</i>
                                </label>
                            </label>
                          </div>
                      </div>
                      <div class="__d_count_down">
                          <h4>Эхлэх хүртэл</h4>
                          <app-countdown [data]="nft?.endtime"></app-countdown>
                      </div>
                      <div class="__btn_item">
                        <a><button type="button" class="__btn __primary __w10">Тун удахгүй</button></a>
                    </div>
                      <div class="__tab_wrap __mt3">
                          <div class="__tab_head">
                              <div class="__tab_item active">Эзэмшигч</div>
                              <div class="__tab_item">Түүх</div>
                          </div>
                          <div class="__tab_main">
                              <div class="__tab_list_item">
                                  <div class="__dg __d_creator __aic">
                                      <div class="__d_creator_img"><img [src]="IMG_PATH + nft.ownerPhoto" alt="Гарчиг" /></div>
                                      <div class="__d_creator_desc">
                                          <p>Эзэмшигч</p>
                                          <a>3 хоногийн өмнө</a>
                                      </div>
                                  </div>
                                  <div class="__contract_id">
                                    <span class="__title">Smart Contract </span>
                                    <span class="__address" ngxClipboard [cbContent]="nft?.address" (click)="copyAlert()">{{ nft?.address }}</span>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<p-toast position="top-right" [showTransformOptions]="'translateX(100%)'"></p-toast>
