html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  position: relative;
  font-family: 'sf';
  font-size: 14px;
  color: #0d1934;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  min-height: 100%;
  background-color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: #0d1934;
  font-size: 14px;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #171c30;
  text-decoration: none;
}

a,
abbr,
acronym,
address,
applet,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
dfn,
div,
dl,
dt,
em,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
object,
ol,
p,
pre,
q,
s,
samp,
small,
span,
strike,
strong,
sub,
sup,
tt,
u,
ul,
var {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  /* font-family: 'Cardo'; */
  font-weight: bold;
}

@font-face {
  font-family: 'sf';
  font-weight: 400;
  src: url(../fonts/SF-UI-Display-Regular.otf) format("opentype"),
    url(../fonts/SF-UI-Display-Regular.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 500;
  src: url(../fonts/SF-UI-Display-Medium.otf) format("opentype"),
    url(../fonts/SF-UI-Display-Medium.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 600;
  src: url(../fonts/SF-UI-Display-Semibold.otf) format("opentype"),
    url(../fonts/SF-UI-Display-Semibold.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 700;
  src: url(../fonts/SF-UI-Display-Bold.otf) format("opentype"),
    url(../fonts/SF-UI-Display-Bold.otf) format("opentype")
}

@font-face {
  font-family: 'sf';
  font-weight: 800;
  src: url(../fonts/SF-UI-Display-Black.otf) format("opentype"),
    url(../fonts/SF-UI-Display-Black.otf) format("opentype")
}

@font-face {
  font-family: 'bd';
  font-weight: 400;
  src: url(../fonts/B-Demi.woff2) format("opentype"),
    url(../fonts/B-Demi.woff2) format("opentype")
}

@font-face {
  font-family: 'bd';
  font-weight: 500;
  src: url(../fonts/B-Bold.woff2) format("opentype"),
    url(../fonts/B-Bold.woff2) format("opentype")
}

.clear-fix {
  display: block;
  clear: both;
}

.clear-fix::after {
  content: '.';
  display: block;
  height: 0;
  font-size: 0;
  line-height: 0;
  clear: both;
  visibility: hidden;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:focus,
*:active {
  -ms-box-sizing: border-box;
  -khtml-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  box-sizing: border-box;
}

/* NomadX Other Style */
.__dfc {
  display: flex;
  align-items: center;
}

.__dfs {
  display: flex;
  align-items: flex-start;
}

.__dfjs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__dfcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.__dfce {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.__aic {
  align-items: center;
}

.__pa {
  position: absolute;
}

.__pr {
  position: relative;
}

.margin_left10 {
  margin-left: 10px;
}

._margin_right10 {
  margin-right: 10px;
}

.label {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  padding: 0 !important;
  width: 100%;
}

.radio-label .radiobox {
  opacity: 0;
  position: absolute;
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

input[type=radio]:checked+.label {
  background-color: rgba(155 129 111 / .3);
  border-color: rgba(154 130 112 / 1);
}

.checkbox[type="checkbox"]:checked+.checkmark::before,
.checkbox[type="checkbox"]:checked+.checkmark::after {
  display: block;
  width: 10px;
  height: 2px;
  position: absolute;
  top: 8px;
  left: 5px;
  content: "";
  background-color: #091127;
  transform: rotate(-45deg);
}

.checkbox[type="checkbox"]:checked+.checkmark,
.radiobox[type="radio"]:checked+.checkmark,
.label:hover .checkbox[type="checkbox"]:checked+.checkmark {
  background-color: #2fd2d7;
  border-color: #2fd2d7;
}

.radiobox[type="radio"]:checked+.checkmark::before {
  display: flex;
  position: absolute;
  content: '';
  top: 50%;
  left: 50%;
  height: 10px;
  width: 10px;
  background-color: #fff;
  border-color: rgba(154 130 112 / 1);
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.checkbox[type="checkbox"]:checked+.checkmark::before {
  top: 9px;
  left: 3px;
  width: 5px;
  transform: rotate(45deg);
}

.radio-label,
.checkbox-label {
  display: inline-block;
  vertical-align: middle;
  min-height: 20px;
  padding-left: 28px;
  color: #000;
  flex-grow: 1;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio-label {
  min-height: 20px;
  line-height: 20px;
}

.checkbox-label .checkbox {
  opacity: 0;
  position: absolute;
}

.radio-label .checkmark {
  border-radius: 50%;
}

.checkmark {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d5dd;
  transform: translate(0, -50%);
  border-radius: 4px;
}

.checkbox-label:not(.disabled).\:hover .checkbox~.checkmark,
.checkbox-label:not(.disabled):hover .checkbox~.checkmark {
  background-color: rgba(255, 255, 255, .3);
  border-color: #969fad;
}

.label-text {
  color: #474543;
  display: flex;
  font-weight: normal;
  flex-wrap: wrap;
  line-height: 1.2;
}

.label-text a {
  color: #29d2d7;
  margin-left: 5px;
}

.__page_main {
  min-height: calc(100vh - 265px);
  background-color: #fff;
}

.__page_content {
  padding: 40px 0;
}

.__page_content_title {
  position: relative;
  color: #091127;
  font-size: 20px;
  font-weight: 400;
  font-family: 'bd';
  margin-bottom: 15px;
}

.__page_content_title~.__page_content_title {
  margin-top: 40px;
}

.__step {
  padding-left: 40px;
}

.__step::before {
  position: absolute;
  content: '1';
  left: 0;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 28px;
  height: 28px;
  width: 28px;
  transform: skew(-5deg) translateY(-50%);
  border: 2px solid #091127;
}

.__step:nth-child(3)::before {
  content: '2';
}

.__se:before {
  content: '3';
}

.__or_text {
  text-align: center;
  margin: 15px 0;
}

.__label {
  display: flex;
  color: #616e91;
  font-weight: normal;
  margin-bottom: 6px;
}

.__log_reg_main .__label {
  color: #d6e6ff;
}

.__label_info {
  color: #616e91;
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 6px;
}

.__label_tit {
  color: #616e91;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  top: 6px;
  left: 0;
  transition: .2s ease-out;
}

.__prof_info .__form_item p {
  font-weight: 500;
}

.__form_item {
  position: relative;
  display: table;
  width: 100%;
  margin-bottom: 20px;
}

.__form_item_cont {
  padding: 5px 10px;
  background-color: #f6f8f9;
  margin-bottom: 16px;
}

.__form_label {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.__help_error {
  color: rgb(207, 48, 74);
  font-size: 13px;
  margin-top: 4px;
}

.__valid_item {
  position: relative;
}

.__valid_tooltip {
  color: #fff;
  position: absolute;
  content: '';
  top: 50%;
  left: calc(100% + 10px);
  padding: 7px 10px;
  background-color: rgba(0, 0, 0, .7);
  box-shadow: 0 5px 15px rgba(0 0 0 / .1);
  transform: translateY(-50%);
  border-radius: 8px;
}

.__valid_tooltip li {
  display: flex;
  font-size: 13px;
  align-items: center;
  white-space: nowrap;
}

.__valid_tooltip li span {
  margin-right: 5px;
}

.__valid_icon {
  display: flex;
  height: 14px;
  width: 14px;
  background-size: 100%;
}

.__input,
.__select,
.__textarea {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  min-height: 48px;
  width: 100%;
  line-height: 46px;
  padding: 0 14px;
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #d0d5dd;
  transition: all .2s ease-in-out;
  box-sizing: border-box;
  border-radius: 6px;
}

.__textarea {
  min-height: 60px;
  max-height: 120px;
  resize: vertical;
}

.__input_rest {
  height: 38px;
  line-height: 38px;
  padding: 0 14px 0 38px;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #e3e4e6;
  border-radius: 6px;
}

.__input:focus,
.__select:focus,
.__textarea:focus,
.filled,
.filled .__label_tit,
.__label_not_edit .__label_tit {
  border-color: #3b13a8;
}

.__input::placeholder {
  color: #aaa;
}

.__input:hover,
.__select:hover,
.__textarea:hover,
.__input_rest:hover {
  border-color: #3b13a8;
}

.__input:focus,
.__select:focus,
.__textarea:focus,
.__input_rest:focus {
  border-color: #3b13a8;
}

.check_term {
  display: flex;
  align-items: center;
  justify-content: space-between;

  label {
    width: 40px;
  }
}

.__redc {
  color: #eb2121;
}

.__s11 {
  font-size: 11px;
}

.__s12 {
  font-size: 12px;
}

.__s13 {
  font-size: 13px;
}

.__withdraw_notice {}

.__withdraw_notice p {
  font-size: 13px;
}

.__withdraw_notice p~p {
  margin-top: 16px;
}

.__withdraw_notice p span {
  font-weight: 500;
}

.__withdraw_item {
  color: #616e91;
}

.__withdraw_item span {
  color: #091127;
  font-family: 'bd';
  font-weight: 400;
  margin-left: 5px;
}

.__with_updown_wrap {
  border-width: 1px;
  border-style: solid;
  border-color: #eeeef0;
}

.__with_updown_item {
  padding: 10px;
  background-color: #f6f8f9;
}

.__with_updown_item h4 {
  font-size: 15px;
  font-family: 'bd';
  font-weight: 400;
}

.__with_updown_item~.__with_updown_item {
  border-left: 1px solid #eeeef0;
}

.__withdraw_item~.__withdraw_item {
  margin-top: 5px;
}

.__btn {
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 44px;
  line-height: 44px;
  padding: 0 20px;
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  transition: all .15s ease-in;
  border-radius: 6px;
  cursor: pointer;
}

.__primary {
  background-color: #2fd2d7;
}

.__primary:hover {
  background-color: #25b4b9;
}

.__btn_item {
  margin-top: 30px;
}

.__buy_btn {
  padding-left: 10px !important;
  justify-content: space-between !important;
}

.__buy_btn span {
  font-size: 16px;
  padding: 3px 8px;
  background-color: rgba(255, 255, 255, .7);
}

.__lr_wrap {
  width: 384px;
  margin: 0 auto;

  .__form_wrap {
    padding: 60px 0;

    h2 {
      font-size: 30px;
      font-family: 'bd';
      font-weight: 400;
      margin-bottom: 24px;
    }
  }
}

.__form_content {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  margin-top: 25px;

  a {
    color: #2fd2d7;

    &:hover {
      text-decoration: underline;
    }

    &~a {
      margin-top: 5px;
    }
  }

  p {
    color: #707a8a;
  }
}

.__subscribe_input {
  padding-right: 100px;
}

.__fb_btn {
  background-color: #3b5998;
}

.__fb_btn:hover {
  background-color: #2b457b;
}

.__tw_btn {
  background-color: #1da1f2;
}

.__tw_btn:hover {
  background-color: #657786;
}

.__default {
  color: #1f4c76;
  background-color: transparent;
  border-color: #1f4c76;
}

.__default:hover {
  background-color: rgba(9, 17, 38, .1);
}

.wrap_content,
.wrap_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
  margin: 0 auto;
  width: 86vw;
  max-width: 1280px;
}

.wrap_content {
  width: 940px;
}

.__min_container {
  padding: 50px 0;
  width: 440px;
  padding: 30px;
  margin: 50px auto;
  background-color: #1a2542;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
  border: 1px solid rgba(255, 255, 255, .05);
}

.__content_header {
  display: grid;
  margin-bottom: 20px;
}

.__content_header_right {
  flex: 1;
}

.__section_layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;
}

.__page_grid_block {
  grid-template-columns: 1fr 310px;
  gap: 20px;
}

.__page_profile_block {
  grid-template-columns: 240px 1fr;
  gap: 20px;
}

.__section {
  padding: 80px 0;
  overflow: hidden;
}

.__dg {
  display: grid;
}

.__g1 {
  grid-template-columns: 1fr;
}

.__g1_180 {
  grid-template-columns: 1fr 180px;
}

.__g24_1 {
  grid-template-columns: 24px 1fr;
}

.__g2 {
  grid-template-columns: 1fr 1fr;
}

.__g3 {
  grid-template-columns: repeat(3, 1fr);
}

.__g4 {
  grid-template-columns: repeat(4, 1fr);
}

.__g4_1 {
  grid-template-columns: 40px 1fr;
}

.__g5_7 {
  grid-template-columns: calc(41.66667% - 8px) calc(58.33333% - 8px);
}

.__g5 {
  grid-template-columns: repeat(5, 1fr);
}

.__g6 {
  grid-template-columns: repeat(6, 1fr);
}

.__gi_c {
  grid-template-columns: 80px 1fr;
}

.__gap_8 {
  gap: 8px !important;
}

.__gap1 {
  gap: 10px;
}

.__gap1_6 {
  gap: 16px;
}

.__gap2 {
  gap: 20px;
}

.__gap2_4 {
  gap: 24px;
}

.__gap_col2 {
  column-gap: 20px;
}

.__gap3_2 {
  gap: 32px;
}

.__gap4 {
  gap: 40px;
}

.__section_title {
  position: relative;
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  font-family: 'bd';
  text-transform: uppercase;
  margin-bottom: 40px;
}

.__section_title::after {
  position: absolute;
  content: '';
  left: 0;
  bottom: -10px;
  height: 2px;
  width: 80px;
  background-color: #09ffa7;
}

.__w10 {
  width: 100%;
}

.margin_none {
  margin: 0;
}

.padding_none {
  padding: 0;
}

.__m0 {
  margin: 0 !important;
}

.__mt_5 {
  margin-top: 5px;
}

.__ml1 {
  margin-left: 10px;
}

.__ml_5 {
  margin-left: 5px;
}

.__mb1_6 {
  margin-bottom: 16px;
}

.__mt2 {
  margin-top: 20px;
}

.__mt2_4 {
  margin-top: 24px;
}

.__mt3 {
  margin-top: 30px;
}

.__mt4 {
  margin-top: 40px;
}

.__mb3 {
  margin-bottom: 30px;
}

.__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}

.__wallet_icon {
  background-image: url('../images/wallet_icon.svg');
}

.__account {
  // background-image: url('../images/account_icon.svg');
  background-size: 80%;
}

.__help {
  cursor: pointer;
  // background-image: url('../images/help_icon.svg');
}

.__dark {
  height: 24px;
  width: 24px;
  padding: 3px;
  margin-left: 12px !important;
}

.__dark_light {
  cursor: pointer;
  background-image: url('../images/switch_icon.svg');
  background-size: 200% 100%;
  background-position: left;
}

.__my_favourite {
  // background-image: url('../images/favourite_icon.svg');
}

.__wallet_icon {
  // background-image: url('../images/wallet_icon.svg');
}

.__alert {
  // background-image: url('../images/alert_icon.svg');
}

/* NomadX Other Style End */

/* NomadX Header Style */
body.visibled {
  position: relative;
  overflow: hidden;
}

.__visible_page {
  overflow: hidden;
}

.__visited {
  position: fixed;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, .7);
  cursor: pointer;
  z-index: 109;
}

.__header_wrap {
  position: relative;
  top: 0;
  height: 80px;
}

.__header_main {
  color: #0b1126;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  background-color: #f8f9fa;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  z-index: 112;
}

.__header_content {}

.__header_logo {
  margin-right: 50px;
}

.__header_logo span {
  display: flex;
  height: 38px;
  width: 150px;
  margin-top: 7px;
  background: url('../images/nft-logo.svg') no-repeat center center;
  background-size: contain;
}

.__header_search {}

.__search_form {
  position: relative;
}

.__search_input {
  color: #091127;
  line-height: 38px;
  padding: 0 12px;
  height: 38px;
  width: 270px;
  background-color: transparent;
  border-radius: 8px !important;
  border: 1px solid #dfe2e7 !important;

  &:hover {}

  &:focus {
    border-color: #3b13a8 !important;
  }

  &::placeholder {
    color: #aaa;
  }
}

.__header_menu {
  position: relative;

  ul {
    display: flex;
    align-items: center;

    &> {
      li {
        position: relative;
        transition: all .2s ease-in-out;

        a {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #1E2329;
          font-size: 14px;
          font-weight: 500;
          height: 80px;
          padding: 0 20px;
          transition: all .2s ease-in-out;
          border-radius: 8px;

          &.active {
            &::after {
              position: absolute;
              content: '';
              left: 50%;
              bottom: 15px;
              height: 6px;
              width: 6px;
              background-color: #2AD2D7;
              transform: translateX(-50%);
              border-radius: 50%;
            }

            color: #0d1934;
          }
        }
      }
    }
  }
}

.__header_menu>ul>li:hover>a,
.__header_menu>ul>li:hover .__menu_link {
  opacity: 1;
}

.__menu_dropdown {
  display: flex;
  position: absolute;
  content: '';
  top: 100%;
  left: -10000px;
  padding: 32px 38px;
  background-color: #fff;
  opacity: 0;
  border-top: 1px solid rgba(154 130 112 / .2);
  ;
  transition: opacity .3s ease, top .35s ease;
  box-shadow: 0 6px 10px rgba(154 130 112 / .2);
}

.__menu_dropdown::before,
.__dropdown_box::before {
  display: flex;
  position: absolute;
  content: '';
  top: -1px;
  left: 20px;
  height: 2px;
  width: 20px;
  background-color: rgba(154 130 112 / 1);
}

.__menu_dropdown::before {
  left: 38px;
}

.__menu_wrap>ul li:hover .__menu_dropdown {
  left: 0;
  opacity: 1;
}

.__dropdown_grid {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.__dd_grid_two {
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.__gth {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.__dropdown_grid h4 {
  color: rgba(154 130 112 / .9);
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
}

.__dropdown_grid ul,
.__dropdown_grid ul li,
.__dropdown_grid ul li a {
  color: rgba(0 0 0 / .5);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.__dropdown_grid ul {
  min-width: 180px;
}

.__dropdown_grid ul li {
  padding: 4px 0;
}

.__dropdown_grid ul li a {
  padding: 5px 0;
  text-transform: none;
}

.__dropdown_grid ul li:hover a {
  color: #32363a;
  background: none;
}

.__header_right {
  display: flex;
  align-items: center;
}

.__header_url {}

.__hr_list {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #e1e3e9;
}

.__hr_l_item~.__hr_l_item {
  margin-left: 8px;
}

.__hr_l_item a {
  display: flex;
}

.__login {
  margin-right: 10px;
}

.__login .__icon {
  margin-right: 8px;
}

.__login a,
.__register a {
  color: #1E2329;
  font-weight: 500;
  transition: all .15s ease-in;
}

.__login a:hover,
.__register a:hover {
  opacity: .7;
}

.__hr_tools {
  margin-left: 20px;
}

.__menu_small {
  position: relative;
  display: flex;
  height: 44px;
  width: 44px;
  cursor: pointer;
  overflow: hidden;
}

.__menu_small span {
  position: absolute;
  top: 50%;
  left: 10px;
  display: block;
  width: 20px;
  height: 1px;
  opacity: 1;
  background-color: #171922;
  transform: rotate(0deg);
  transition: .3s ease-in-out;
}

.__menu_small span:nth-child(2) {
  top: 16px;
}

.__menu_small span:last-child {
  top: 28px;
  width: 16px;
}

.open.__menu_small span:first-child {
  opacity: 0;
  width: 0;
}

.open.__menu_small span:nth-child(2) {
  transform: translate(0, 6px) rotate(45deg);
}

.open.__menu_small span:last-child {
  width: 20px;
  transform: translate(1px, -6px) rotate(-45deg);
}

.__menu_m_wrap {
  position: fixed;
  top: 60px;
  bottom: 0;
  width: 100vw;
  background-color: #091127;
  transition: transform .2s cubic-bezier(.7, 1, .3, .1);
  transform: translateX(200%);
  z-index: 111;
}

.__menu_m_wrap.open {
  transform: translateX(0);
}

.__menu_m_wrap .__block {}

.__menu_m_wrap ul {
  padding: 10px;
  overflow-y: auto;

  li {
    a {
      color: #fff;
      display: flex;
      font-size: 17px;
      font-weight: 500;
      line-height: 50px;
      height: 54px;
      padding: 0 20px;
    }

    &~li {
      border-top: 1px solid #262a3d;
    }
  }
}

.__menu_m_wrap ul {}

.__menu_m_wrap ul li {}

.__logreg_btns {
  display: flex;
  flex-direction: column;
  margin: 10px 10px 20px;
  border: none !important;

  a {
    color: #fff;
    text-align: center;
    padding: 15px 20px;

    &~a {
      margin-top: 10px;
    }

    &.__register_btn {
      background-color: #2fd2d7;
    }
  }
}

.__mobile_search {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin-right: 8px;
  cursor: pointer;

  span {
    display: flex;
    height: 24px;
    width: 24px;
    background: url('../images/icon_search.svg') no-repeat center center;
    background-size: 100%;
  }
}

/* NomadX Header Style End */

/* NomadX Breadcrumb Style */
.__breadcrumb {
  display: grid;
  width: 100%;
  margin: 20px 0;
}

.__breadcrumb ul {
  display: flex;
  align-items: center;
}

.__breadcrumb ul li a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  box-sizing: border-box;
}

.__breadcrumb ul li a::after {
  content: "/";
  font-size: 13px;
  margin: 0 8px;
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
}

.__breadcrumb ul li span {
  color: #b1b4b5;
}

/* NomadX Breadcrumb Style End */

/* NomadX Main Style */
.__main_wrapper {
  padding-top: 0;
  min-height: calc(100vh - 50px);
}

.__main_content {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.__market_slider {
  position: relative;
  overflow: hidden;
}

.__slider_content {
  color: #fff;
  position: absolute;
  content: '';
  bottom: 80px;
  left: 80px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  z-index: 3;
}

.__slider_content em {
  font-size: 15px;
  font-style: normal;
  line-height: 1;
  margin-bottom: 10px;
  padding: 7px 10px 5px;
  background-color: rgba(255, 255, 255, .3);
  border-radius: 8px;
}

.__slider_content h2 {
  font-size: 38px;
  width: 90%;
  margin: 0 0 10px;
}

.__slider_content .__creater_name {
  font-size: 14px;
  margin-bottom: 16px;
  opacity: .7;
}

.__slider_item {
  display: flex;
  height: 388px;
  background-size: contain;
}

.swiper-button-prev,
.swiper-button-next {
  height: 50px !important;
  width: 50px !important;
  background-color: rgba(47, 210, 215, .8) !important;
  border-radius: 50%;

  &::after {
    color: #fff;
    font-size: 15px !important;
  }
}

.swiper-container {
  height: 100%;
}

section {
  padding: 48px 0;
}

.__page_title {
  position: relative;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 24px;
  cursor: pointer;
}

.__page_head {
  position: relative;
  margin-bottom: 20px;
}

.__page_box {
  position: relative;
}

.nft_category {
  position: relative;

  ul {
    flex-wrap: wrap;

    li {
      display: flex;

      span {
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 38;
        height: 38px;
        padding: 0 15px;
        border-radius: 6px;
        cursor: pointer;
      }

      .active {
        color: #fff;
        background-color: #0b1126;
      }
    }
  }
}

.nft_filter {
  .__filter_item {
    font-weight: 500;
    line-height: 36px;
    height: 38px;
    padding: 0 15px 0 8px;
    border-width: 1px;
    border-style: solid;
    border-color: #dfe2e7;
    border-radius: 6px;
    cursor: pointer;

    span {
      margin-right: 6px;
    }

    &~.__filter_item {
      margin-left: 16px;
    }
  }
}

.__page_box_main {}

.dark {
  .__collection_wrap {

    .__collection_item {
      border-color: #fff;
    }
  }
}

.__collection_wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 20px;

  .__collection_item {
    width: 100px;
    height: 100px;
    border: 4px solid #eee;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;

    img {
      background-size: contain;
      width: 110%;
    }

    &:first-child {
      margin-left: 0;
    }
  }


  .__collection_sub_item {
    width: 50%;
    display: flex;
    background: #FFF;
    webkit-clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);
    clip-path: polygon(6% 0%, 100% 0%, 94% 100%, 0% 100%);

    img {
      width: 100px;
      height: 100px;
      webkit-clip-path: polygon(6% 0%, 100% 0%, 74% 100%, 0% 100%);
      -webkit-clip-path: polygon(6% 0%, 100% 0%, 74% 100%, 0% 100%);
      clip-path: polygon(6% 0%, 100% 0%, 74% 100%, 0% 100%);
    }

    .__title {
      width: calc(100% - 80px);
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 10px;
    }
  }
}

.__box_item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  background-color: #fff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .15);
  transition: all .15s ease-in;
  border-radius: 12px;
  cursor: pointer;
  z-index: 9;

  &:hover {
    box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  }

  &.many {
    .__item_shadow {
      position: absolute;
      content: '';
      left: 10px;
      right: 10px;
      bottom: -8px;
      height: 8px;
      background-color: #fff;
      border-bottom-left-radius: 16px;
      border-bottom-right-radius: 16px;
      box-shadow: 0 2px 3px rgba(0, 0, 0, .2);
      opacity: .7;
      z-index: 7;
    }

    .__rear {
      left: 20px;
      right: 20px;
      bottom: -16px;
      opacity: .5;
      z-index: 8;
    }
  }
}

.__box_i_head {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
}

.__box_status {
  color: #fff;
  font-size: 13px;
  position: absolute;
  content: '';
  line-height: 1;
  top: 10px;
  right: 10px;
  padding: 7px 8px;
  background-color: rgba(255, 255, 255, .9);
  border-radius: 4px;
  z-index: 4;
}

.__soon {
  background-color: rgba(59, 19, 168, 9);
}

.__open {
  background-color: rgba(47, 210, 215, .9);
}

.__closed {
  .__box_status {
    top: 50%;
    left: 50%;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
    transform: translate(-50%, -50%);
  }

  .__img_box_content img {
    opacity: .4;
  }
}

.__page_v_head .__img_box {
  height: 240px;
}

.__img_box {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.__img_box_content {
  position: relative;
  height: 100%;
  width: 100%;
}

.__img_box_content img {
  width: 100%;
  max-width: 100%;
  border-radius: 6px;
}

.__box_i_main {
  padding: 16px 6px 6px;
}

.__box_title {
  color: #464d66;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 16px;
}

.__box_price {
  display: flex;
  flex-direction: column;
  font-size: 16px;

  span {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;

    &~span {
      margin-top: 8px;
    }

    i {
      color: #454545;
      font-size: 13px;
      font-weight: 400;
      font-style: normal;
      margin-left: 3px;
      text-transform: uppercase;
    }
  }

  .radio-label {
    color: #000;
    font-size: 32px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 14px;
    border-radius: 6px;
    border-width: 1px;
    border-style: dashed;
    border-color: #b6bccf;

    .checkmark {
      left: auto;
      right: 12px;
    }

    i {
      color: #454545;
      font-size: 13px;
      font-weight: normal;
      font-style: normal;
      margin-left: 3px;
      text-transform: uppercase;
    }
  }
}

.__box_price .__price_label {
  color: #8694a1;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 6px;
}

.__box_im_f {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.__like_share {
  display: flex;
  align-items: center;
  transition: all .15s ease-in;
  cursor: pointer;
}

.__like_share~.__like_share {
  margin-left: 20px;
}

.__like_share span {
  display: flex;
  position: relative;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background-size: 200% 100% !important;
}

.__like span {
  background: url('../images/like_icon.svg') no-repeat left center;
}

.__view span {
  background: url('../images/view_icon.svg') no-repeat left center;
}

.__share span {
  background: url('../images/share_icon.svg') no-repeat left center;
}

.__filter {
  background: url('../images/filter_icon.svg') no-repeat center center;
}

.__sort {
  background: url('../images/sort_icon.svg') no-repeat center center;
}

.__like_share:hover {}

.__like_share:hover span {
  background-position: right;
}

.__box_im_c {
  margin-top: 10px;

  label {
    color: #8694a1;
  }

  .__creat_img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .__creat_name {
    font-weight: 500;
  }
}

.__d_wrap {
  padding: 48px 0;
}

.__d_content {
  position: relative;
  padding: 0 80px;
}

.__d_col {
  gap: 40px;
}

.__d_img_b {}

.__d_img_b img {
  position: relative;
  top: 0;
  transform: scale(1);
}

.__d_img_b .__img_box {
  height: auto;
  border-radius: 16px;
}

.__d_c_head {
  h1 {
    color: #000;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
  }
}

.__d_c_head .__like_share span {
  height: 32px;
  width: 32px;
  background-position: right;
}

.__d_c_head .__box_im_f {
  margin: 0;
}

.__d_creator {
  grid-template-columns: 34px 1fr;
  gap: 8px;
  padding: 10px;
  margin-top: 20px;
  border-width: 1px;
  border-style: dashed;
  border-color: #b6bccf;
  transition: all .15s ease-in;
  border-radius: 8px;

  &:hover {
    background-color: #f7f4ff;
    border-color: #3b13a8;
  }
}

.__d_creator_img {
  height: 34px;
  width: 34px;
  border-radius: 4px;
  overflow: hidden;
}

.__d_creator_img img {
  width: 100%;
}

.__d_creator_desc p {
  color: #8997a4;
  font-size: 12px;
  line-height: 1;
}

.__d_creator_desc h4 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin-top: 3px;
}

.__d_c_main {
  margin-top: 24px;
}

.__d_cm_status {
  color: #0b1126 !important;
  font-size: 16px;
  font-weight: 500;

  span {
    color: #fff;
    font-size: 15px;
    margin-right: 8px;
    padding: 5px 10px;
    border-radius: 8px;
  }
}

.__limited {
  span {
    background-color: #2fd2d7;
  }
}

.__open {
  span {
    background-color: #ffb329;
  }
}

.__single {
  span {
    background-color: #bd2fd7;
  }
}

.__auction {
  span {
    background-color: #264af9;
  }
}

.__d_c_main .__box_price {
  margin-top: 20px;
}

.__d_count_down {
  margin-top: 24px;
}

.__d_count_down h4 {
  font-size: 15px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 5px;
  opacity: .6;
}

.__d_cd_item {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 48px;
  width: 48px;
  background-color: #f2f4f5;
  border-radius: 8px;

  &~.__d_cd_item {
    margin-left: 16px;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
  }

  p {
    opacity: .7;
    font-size: 11px;
    line-height: 1;
  }
}

.__d_c_desc {
  margin-top: 20px;
}

.__d_c_desc p~p {
  margin-top: 8px;
}

.__tab_wrap {
  flex-direction: column;
}

.__tab_head {
  display: flex;
  align-items: center;
}

.__tab_main {
  padding-top: 20px;
}

.__tab_item {
  display: flex;
  font-size: 15px;
  font-weight: 400;
  padding: 12px 0;
  border-bottom: 2px solid transparent;
  cursor: pointer;
}

.__tab_item.active {
  color: #000;
  font-weight: 500;
  border-bottom-color: #2fd2d7;
}

.__tab_item~.__tab_item {
  margin-left: 24px;
}

.__tab_list_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.__tab_list_item .__d_creator {
  margin: 0;
}

.__tab_list_item~.__tab_list_item {
  margin-top: 16px;
}

.__contract_id {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  .__title {
    font-size: 14px;
    opacity: .5;
    margin-right: 12px;
    text-decoration: none;
  }

  .__address {
    text-decoration: underline;
  }
}

.count_d {
  span {
    display: flex !important;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;

    ._t_label {
      color: #919ca3;
      font-size: 11px;
      line-height: 1;
    }
  }
}

.__back_btn {
  display: flex;
  margin-bottom: 15px;

  a {}
}

/* NomadX Main Style End */

/* NomadX Create Collection */
.__cc_head {
  position: relative;
  height: 388px;
  width: 100%;

  .__cc_h_img {
    height: 100%;
    width: 100%;
    background-image: url('../images/__nft_creat_head_img.jpeg');
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
  }
}

.__cc_main {
  padding-top: 20px;
}

.__cc_col {
  grid-template-columns: 320px 1fr;
  gap: 32px;
}

.__cc_content {
  position: relative;

  .__cc_profile_b {
    position: absolute;
    content: '';
    left: 0;
    top: -125px;
    height: 110px;
    width: 110px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
    border-radius: 8px;
    overflow: hidden;

    img {
      width: 100%;
      border-radius: 4px;
    }
  }

  ul {
    li {
      span {
        cursor: pointer;

        svg {
          path {
            fill: #3b13a8
          }
        }
      }

      label {
        color: #8694a1;
        font-size: 13px;
        font-weight: 400;
      }

      p {
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
      }

      &~li {
        margin-left: 16px;
      }
    }
  }

  .__cc_socials {
    margin: 30px 0;
  }

  .__cc_status {
    ul {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;

      li {
        padding: 8px 12px;
        background-color: #f6f8f9;
        border-radius: 8px;

        &~li {
          margin: 0;
        }
      }
    }
  }
}

.__authorize {
  span {
    height: 24px;
    width: 24px;
    margin-right: 10px;
  }
}

.__cc_main_content {
  margin-top: 24px;
}

/* NomadX Create Collection End */

/* NomadX Profile Style */
.nft_profile {
  position: relative;
}

.__profile_wrap {
  .__profile_head {
    padding: 20px 0;
    background-color: #ebeff3;

    .__profile_h_g {
      grid-template-columns: 120px 1fr;
      gap: 24px;
    }

    .__profile_img {
      position: relative;
      height: 120px;
      width: 120px;
      border-radius: 8px;
      overflow: hidden;

      img {
        width: 100%;
      }
    }

    .__profile_info {
      h2 {
        font-size: 32px;
      }

      p {
        font-size: 15px;
      }
    }
  }
}

.__profile_tab {
  .__profile_tab_head {
    display: flex;
    align-items: center;
    justify-content: center;

    .__profile_tab_item {
      display: flex;
      padding: 10px 20px;
      border-radius: 6px;
      cursor: pointer;

      &.active {
        color: #fff;
        background-color: #091127;
      }
    }
  }

  .__profile_tab_main {
    padding: 20px 0;
  }
}

.__c_addr_copy {
  position: relative;
  display: flex;
  cursor: pointer;

  &:hover {
    i {
      left: calc(100% + 5px);
      visibility: visible;
      opacity: 1;
    }
  }

  span {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 4px;
      left: 0;
      height: 16px;
      width: 16px;
      background-color: #fff;
      border-width: 2px;
      border-style: solid;
      border-color: #616e91;
      z-index: 2;
    }

    &::after {
      top: 0;
      left: 4px;
      z-index: 1;
    }
  }

  i {
    color: #fff;
    position: absolute;
    content: '';
    font-size: 12px;
    top: 50%;
    left: -10000px;
    padding: 4px 6px;
    background-color: rgba(0, 0, 0, .85);
    white-space: nowrap;
    box-shadow: 0 3px 8px rgb(0 0 0 / 20%);
    transform: translateY(-50%);
    transition: opacity .3s ease, transform .35s ease;
    visibility: hidden;
    opacity: 0;
  }
}

.__b_ch_addr {
  font-size: 18px;
}

/* NomadX Profile Style End */

/* NomadX Footer Style */
.nft_footer {
  background-color: #f8f9fa;

  .__footer_col {
    padding: 50px 0;
    grid-template-columns: 300px 1fr;

    ul {
      h3 {
        text-transform: uppercase;
        margin-bottom: 20px;
      }

      li {
        a {
          display: flex;
          line-height: 1;
          padding: 5px 0;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .__footer_logo {
    display: flex;
    height: 32px;
    width: 120px;
    margin-bottom: 20px;
    background-size: contain;

    span {
      height: 32px;
      width: 120px;
      background: url('../images/nft-logo.svg') no-repeat center center;
    }
  }
}


.__footer_socials {}

.__social_icon {
  display: flex;
  height: 18px;
  width: 18px;
  background: transparent center center no-repeat;
  background-size: contain;
}

.__social_icon~.__social_icon {
  margin-left: 15px;
}

.__footer_copyrights {
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid #eee;
}

.__footer_copyrights p {
  color: #5e667a;
  font-size: 13px;
}

/* NomadX Footer Style End */

/* Dark Version */
body {
  &.dark {
    background-color: #091127;
  }
}

.dark {
  .__search_input {
    color: #fff;

    &:focus {
      border-color: #2e344c !important;
    }
  }

  .__mobile_search span {
    background: url('../images/icon_search_white.svg') no-repeat center center;
  }

  .__header_main {
    background-color: #091127;
    border-bottom: 1px solid rgba(255, 255, 255, .05);

    ul {
      &> {
        li {
          a {
            color: #fff;
          }
        }
      }
    }
  }

  .__header_logo span,
  .nft_footer .__footer_logo span {
    background: url('../images/nft-logo-dark.svg') no-repeat center center;
  }

  .__search_input {
    border-color: #262a3e !important;
  }

  .__footer_copyrights {
    border-color: #141826 !important;
  }

  .__hr_list {
    border-left-color: #253260;
  }

  .__login a,
  .__register a,
  .__d_c_head h1,
  .__page_title,
  .__d_c_main .__box_price .radio-label,
  .__d_creator_desc a,
  .nft_category ul li span,
  .nft_filter .__filter_item,
  .__lr_wrap .__form_wrap h2,
  .__tab_item.active,
  .__contract_id,
  .__d_cd_item,
  .__cc_content h1,
  .__cc_content .__authorize,
  .nft_footer .__footer_col ul h3,
  .nft_footer .__footer_col ul li a,
  .__cc_content ul li p,
  .__profile_wrap .__profile_head .__profile_info h2,
  .__profile_wrap .__profile_head .__profile_info p,
  .__profile_tab .__profile_tab_head .__profile_tab_item,
  .__c_count_p,
  .__b_ch_addr,
  .__back_btn a,
  .__d_creator_desc h4 {
    color: #fff;
  }

  .__box_im_f,
  .__d_c_desc,
  .__d_count_down h4,
  .__tab_item,
  .__box_price .radio-label i,
  .__d_cm_status {
    color: #858ca7 !important;
  }

  .__d_c_head .__like span,
  .__d_c_head .__view span,
  .__d_c_head .__share span,
  .__filter,
  .__sort,
  .__menu_small span {
    background: none;
    background-color: #fff !important;
    background-repeat: no-repeat;
  }

  .__d_c_head .__like span {
    -webkit-mask: url('../images/dark_like_icon.svg');
  }

  .__d_c_head .__view span {
    -webkit-mask: url('../images/dark_view_icon.svg');
  }

  .__d_c_head .__share span {
    -webkit-mask: url('../images/dark_share_icon.svg');
  }

  .__filter {
    -webkit-mask: url('../images/filter_icon.svg');
  }

  .__sort {
    -webkit-mask: url('../images/sort_icon.svg');
  }

  .__d_creator,
  .nft_filter .__filter_item,
  .__box_price .radio-label {
    border-color: #2e344c;
  }

  .nft_category ul li .active {
    background-color: #454c68;
  }

  .__d_creator,
  .__d_cd_item,
  .__cc_content .__cc_status ul li,
  .__profile_tab .__profile_tab_head .__profile_tab_item.active,
  .__box_price .radio-label {
    background-color: #0d1730;
  }

  .__dark_light {
    background-position: right;
  }

  .nft_footer,
  .__profile_wrap .__profile_head {
    background-color: #080f22;
  }
}

/* Dark Version End */

/* Responsive Style */
@media (max-width: 1280px) {
  .wrap_container {
    width: 100%;
    padding: 0 50px;
  }

  .__slider_content .wrap_container {
    width: 90vw;
    padding: 0;
  }
}

@media (max-width: 1191px) {
  .wrap_container {
    width: 100%;
    padding: 0 32px;
  }

  .__g5_7 {
    grid-template-columns: 1fr;
  }

  .__d_content {
    padding: 0;
  }

  .__g4 {
    grid-template-columns: repeat(3, 1fr);
  }

  .__g3 {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 991px) {
  .wrap_container {}

  .__g4 {
    grid-template-columns: 1fr 1fr;
  }

  .__d_col,
  .__page_head.__dfjs {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .__page_head.__dfjs {
    display: grid;
  }

  .__d_wrap {
    padding: 20px 0;
  }

  .__tok_bro_buy .__g4 {
    grid-template-columns: repeat(4, 1fr);
  }

  .__g1_180,
  .__cc_col {
    grid-template-columns: 1fr;
  }

  .__announcements {
    display: none;
  }

  .nft_footer .__footer_col {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}

@media (max-width: 821px) {
  .wrap_container {
    padding: 16px;
  }

  .__login {
    margin: 0;
  }

  .check_list_main {
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .__my_favourite_trade {
    margin-top: 16px;
  }

  .__s_main {
    width: 100%;
  }

  .__g4 {
    grid-template-columns: 1fr;
  }

  .__login p,
  .__hr_tools,
  .__table th:last-child,
  .__table td:last-child,
  .__table th:nth-last-child(2),
  .__table td:nth-last-child(2) {
    display: none;
  }

  .__page_box_main .__g4 {
    grid-template-columns: 1fr 1fr;
  }

  .__table_img {
    height: 32px;
    width: 32px;
  }

  .__td_img {
    height: 32px;
  }

  .__slider_content h1 {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .__header_main {
    height: 80px;
  }

  .__menu_m_wrap {
    top: 80px;
  }

  .__tok_bro_buy .__g4 {
    grid-template-columns: 1fr 1fr;
  }

  .__section {
    padding: 40px 0;
  }

  .__slider_main,
  .__slider_image {
    min-height: 320px;
  }

  .wrap_container {
    padding: 0 10px;
  }

  .__detail_header,
  .__detail_main {
    padding: 10px;
  }

  .__check_l_label ul li {
    margin: 2px 4px;
  }

  .__tok_bro {
    margin-bottom: 10px;
  }

  .__tok_bro_buy h4 {
    font-size: 16px;
  }

  .__d_c_head,
  .__cc_main {
    .__dfjs {
      display: grid;
      grid-template-columns: 1fr;
      gap: 16px;
      flex-direction: column;
    }
  }

  .__tab_list_item {
    align-items: flex-start;
    flex-direction: column;

    .__d_creator {
      width: 100%;
    }

    .__contract_id {
      margin-top: 8px;
    }
  }

  .__tok_bro_info .__label_info {
    width: 155px;
  }

  .__latest_news {
    margin-bottom: 20px;
  }

  .__d_c_head h1 {
    font-size: 28px;
    line-height: 1.4;
  }

}

@media(max-width: 640px) {
  .__header_search {
    display: none;
    transition: all .15s ease-in;

    &.open {
      display: flex;

      .__search_form {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px;
        background-color: #091127;
        transform: translateY(63px);
        box-shadow: 0 1px 3px rgba(0, 0, 0, .2);

        .__search_input {
          width: 100%;
        }
      }
    }
  }

  .__page_box_main .__g4,
  .__g3,
  .__g2 {
    grid-template-columns: 1fr;
  }

  .__d_c_head {
    padding: 10px 0;

    .__d_creator {
      &~.__d_creator {
        margin: 0;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }

  .__lr_wrap {
    width: 90vw;
  }

  section {
    padding: 24px 0;
  }
}

/* Responsive Style End */
