<div class="" #imageWrap>
    <div class="__page_head">
        <div class="__cc_head" [ngStyle]="{'height.px': markStyle}">
            <div class="__cc_h_img __aacimg" [ngStyle]="{'height.px': markStyle}" [style.background-image]="'url(' + IMG_PATH + selectedBk + ')'"></div>
        </div>
    </div>
    <div class="wrap_container">
        <div class="__cc_main">
            <div class="__dfjs">
                <form>
                    <input type="text" class="__search_input" placeholder="Цуглуулга хайх" />
                </form>
                <div class="nft_filter __dfc">
                    <div class="__filter_item __dfc"><span class="__icon __filter"></span>Шүүлтүүр</div>
                    <div class="__filter_item __dfc"><span class="__icon __sort"></span>Эрэмбэлэх</div>
                </div>
            </div>
            <div class="__cc_main_content">
                <div class="__dg __g4 __gap2_4">
                    <a [routerLink]="['/detail', item.id]" class="__box_item" *ngFor="let item of collection" [ngClass]="{'__closed': item.status === 'closed' }">
                        <div class="__box_i_head">
                          <div class="__box_status"
                          [ngClass]="{'__open': item.status === 'active', '__soon': item.status === 'soon', '__closed': item.status === 'closed' }">
                          {{ item.status === 'active' ? 'Нээлттэй' : item.status === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}
                        </div>
                            <div class="__img_box">
                                <div class="__img_box_content">
                                  <img [src]="IMG_PATH + item.photo" />
                                </div>
                            </div>
                        </div>
                        <div class="__box_i_main">
                            <h2 class="__box_title">{{ item.name }}</h2>
                            <div class="__box_price">
                                <label>Үнэ</label>
                                <span>{{ item.priceMNT < 100 ? '-' : item.priceMNT | number }}<i>URG</i></span>
                                <span>{{ item.priceMNT * 2 < 100 ? '-' : item.priceMNT * 2 | number }}<i>MNT</i></span>
                            </div>
                            <div class="__box_im_f">
                              <div class="__like_share __like"><span></span>{{ item.like }}</div>
                              <div class="__like_share __share"><span></span> {{ item.share }}</div>
                            </div>
                            <div class="__box_im_c __dfjs">
                                <label>Зохиогч</label>
                                <div class="__dfc __aic">
                                    <div class="__creat_img">
                                      <img [src]="IMG_PATH + item.ownerPhoto" />
                                    </div>
                                    <div class="__creat_name">{{ item.creator }}</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
