<div class="" #imageWrap>
  <div class="__page_head">
    <div class="__cc_head" [ngStyle]="{'height.px': markStyle}">
      <div class="__cc_h_img __aacimg " [ngStyle]="{'height.px': markStyle}" [style.background-image]="'url(' + IMG_PATH + selectedBk + ')'"></div>
    </div>
  </div>
  <div class="wrap_container">
    <div class="__cc_main">
      <div class="__dg __cc_col">
        <div class="__cc_content">
          <div class="__cc_profile_b">
            <img [src]="IMG_PATH + creatorInfo?.photo" />
          </div>
          <h1>{{ creatorInfo?.creator }}</h1>
          <div class="__authorize __authorized __dfc">
            <span><svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24">
                <path
                  d="M10.0813 3.7242C10.8849 2.16438 13.1151 2.16438 13.9187 3.7242V3.7242C14.4016 4.66147 15.4909 5.1127 16.4951 4.79139V4.79139C18.1663 4.25668 19.7433 5.83365 19.2086 7.50485V7.50485C18.8873 8.50905 19.3385 9.59842 20.2758 10.0813V10.0813C21.8356 10.8849 21.8356 13.1151 20.2758 13.9187V13.9187C19.3385 14.4016 18.8873 15.491 19.2086 16.4951V16.4951C19.7433 18.1663 18.1663 19.7433 16.4951 19.2086V19.2086C15.491 18.8873 14.4016 19.3385 13.9187 20.2758V20.2758C13.1151 21.8356 10.8849 21.8356 10.0813 20.2758V20.2758C9.59842 19.3385 8.50905 18.8873 7.50485 19.2086V19.2086C5.83365 19.7433 4.25668 18.1663 4.79139 16.4951V16.4951C5.1127 15.491 4.66147 14.4016 3.7242 13.9187V13.9187C2.16438 13.1151 2.16438 10.8849 3.7242 10.0813V10.0813C4.66147 9.59842 5.1127 8.50905 4.79139 7.50485V7.50485C4.25668 5.83365 5.83365 4.25668 7.50485 4.79139V4.79139C8.50905 5.1127 9.59842 4.66147 10.0813 3.7242V3.7242Z"
                  fill="#00A3FF"></path>
                <path class="permanent"
                  d="M14.8563 9.1903C15.0606 8.94984 15.3771 8.9385 15.6175 9.14289C15.858 9.34728 15.8229 9.66433 15.6185 9.9048L11.863 14.6558C11.6554 14.9001 11.2876 14.9258 11.048 14.7128L8.47656 12.4271C8.24068 12.2174 8.21944 11.8563 8.42911 11.6204C8.63877 11.3845 8.99996 11.3633 9.23583 11.5729L11.3706 13.4705L14.8563 9.1903Z"
                  fill="white"></path>
              </svg></span>nomadxnft
          </div>
          <div class="__cc_socials">
            <ul class="__dfc">
              <li><span class="__icon __fb"><svg width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M24 12.0709C23.9997 9.77768 23.3424 7.53257 22.1058 5.60135C20.8692 3.67013 19.1051 2.13368 17.0225 1.17388C14.9398 0.214091 12.6257 -0.128845 10.3542 0.185675C8.08263 0.500195 5.94878 1.459 4.20524 2.94858C2.4617 4.43816 1.18149 6.39613 0.516158 8.5907C-0.149172 10.7853 -0.171753 13.1245 0.451088 15.3315C1.07393 17.5385 2.31611 19.5208 4.03057 21.0438C5.74503 22.5668 7.85996 23.5666 10.125 23.9249V15.5399H7.078V12.0699H10.125V9.42788C10.125 6.42088 11.917 4.75788 14.657 4.75788C15.557 4.77188 16.455 4.84988 17.344 4.99288V7.94688H15.83C15.5721 7.91267 15.3098 7.93693 15.0626 8.01785C14.8153 8.09877 14.5895 8.23429 14.4017 8.41436C14.214 8.59443 14.0691 8.81445 13.9779 9.0581C13.8868 9.30175 13.8516 9.56279 13.875 9.82188V12.0719H17.2L16.668 15.5409H13.868V23.9259C16.6922 23.4808 19.2647 22.042 21.1223 19.8686C22.9798 17.6952 24.0003 14.9299 24 12.0709Z">
                    </path>
                  </svg></span></li>
              <li><span class="__icon __tw"><svg width="24" height="20" viewBox="0 0 24 20">
                    <path
                      d="M24 2.60078C23.1 3.00078 22.2 3.30078 21.2 3.40078C22.2 2.80078 23 1.80078 23.4 0.700781C22.4 1.30078 21.4 1.70078 20.3 1.90078C19.4 0.900781 18.1 0.300781 16.7 0.300781C14 0.300781 11.8 2.50078 11.8 5.20078C11.8 5.60078 11.8 6.00078 11.9 6.30078C7.7 6.10078 4.1 4.10078 1.7 1.10078C1.2 1.90078 1 2.70078 1 3.60078C1 5.30078 1.9 6.80078 3.2 7.70078C2.4 7.70078 1.6 7.50078 1 7.10078V7.20078C1 9.60078 2.7 11.6008 4.9 12.0008C4.5 12.1008 4.1 12.2008 3.6 12.2008C3.3 12.2008 3 12.2008 2.7 12.1008C3.3 14.1008 5.1 15.5008 7.3 15.5008C5.6 16.8008 3.5 17.6008 1.2 17.6008C0.8 17.6008 0.4 17.6008 0 17.5008C2.2 18.9008 4.8 19.7008 7.5 19.7008C16.6 19.7008 21.5 12.2008 21.5 5.70078V5.10078C22.5 4.40078 23.3 3.50078 24 2.60078Z">
                    </path>
                  </svg></span></li>
              <li><span class="__icon __in"><svg width="24" height="24" viewBox="0 0 24 24">
                    <path
                      d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z">
                    </path>
                  </svg></span></li>
            </ul>
          </div>
          <div class="__cc_status">
            <ul class="__dfc">
              <li>
                <label>Таалагдсан</label>
                <p>0</p>
              </li>
              <li>
                <label>Үзсэн</label>
                <p>0</p>
              </li>
              <li>
                <label>Үүсгэсэн</label>
                <p>{{ creatorNFT.length }}</p>
              </li>
              <li>
                <label>Хуваалцсан</label>
                <p>0</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="__cc_list">
          <div class="__collection_list"></div>
          <div class="__tab_wrap __mt3">
            <div class="__tab_head">
              <div class="__tab_item active">Цуглуулга</div>
            </div>
            <div class="__tab_main">
              <div class="__collection_wrap">
                <a class="__collection_sub_item" [routerLink]="['/collection', item.createrId]" *ngFor="let item of collections">
                  <img [src]="IMG_PATH + item.photo" />
                  <div class="__title">
                    <span>{{ item.name }}</span>
                  </div>
                </a>
              </div>
            </div>
            <div class="__tab_head" *ngIf="creatorId === '2'">
              <div class="__tab_item active">Дэд Цуглуулга</div>
            </div>
            <div class="__tab_main" *ngIf="creatorId === '2'">
              <div class="__collection_wrap">
                <a class="__collection_item" [routerLink]="['/collection', item.createrId , item.id]" *ngFor="let item of subCollections">
                  <img [src]="IMG_PATH + item.photo" />
                </a>
              </div>
            </div>
            <div class="__tab_head">
              <!-- <div class="__tab_item active">Цуглуулга</div> -->
              <!-- <div class="__tab_item">Зарж байгаа</div> -->
              <div class="__tab_item active">Үүсгэсэн</div>
              <!-- <div class="__tab_item">Таалагдсан</div> -->
            </div>
            <div class="__tab_main">
              <div class="__dg __g3 __gap2_4">
                <a [routerLink]="['/detail', item.id]" class="__box_item" *ngFor="let item of creatorNFT"
                  [ngClass]="{'__closed': item.status === 'closed' }">
                  <div class="__box_i_head">
                    <div class="__box_status"
                      [ngClass]="{'__open': item.status === 'active', '__soon': item.status === 'soon', '__closed': item.status === 'closed' }">
                      {{ item.status === 'active' ? 'Нээлттэй' : item.status === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}
                    </div>
                    <div class="__img_box">
                      <div class="__img_box_content">
                        <img [src]="IMG_PATH + item.photo" />
                      </div>
                    </div>
                  </div>
                  <div class="__box_i_main">
                    <h2 class="__box_title">{{ item.name }}</h2>
                    <div class="__box_price">
                      <label>Үнэ</label>
                      <span>{{ item.priceMNT < 100 ? '-' : item.priceMNT | number }}<i>URG</i></span>
                      <span>{{ item.priceMNT * 2 < 100 ? '-' : item.priceMNT * 2 | number }}<i>MNT</i></span>
                    </div>
                    <div class="__box_im_f">
                      <div class="__like_share __like"><span></span>{{ item.like }}</div>
                      <div class="__like_share __share"><span></span>{{ item.share }}</div>
                    </div>
                    <div class="__box_im_c __dfjs">
                      <label>Зохиогч</label>
                      <div class="__dfc __aic">
                        <div class="__creat_img">
                          <img [src]="IMG_PATH + item.ownerPhoto" />
                        </div>
                        <div class="__creat_name">{{ item.creator }}</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
