<div>
    <header class="__header_wrap">
        <div class="__header_main">
            <div class="__header_content wrap_container">
                <div class="__dfjs">
                    <div class="__header_left __dfc">
                        <a [routerLink]="['/']" class="__header_logo"><span></span></a>
                        <div class="__header_search" [class.open]="isViewSearch">
                            <form>
                                <div class="__search_form">
                                    <input type="text" class="__search_input" placeholder="Хайх..." />
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="__header_right" *ngIf="!isMobile">
                        <div class="__header_menu">
                            <ul>
                                <li><a [routerLink]="['../']">Нүүр</a></li>
                                <li><a [routerLink]="['../market', 'all']" routerLinkActive="active">Marketplace</a></li>
                                <li><a href="https://nomadx.world" >Wallet</a></li>
                            </ul>
                        </div>
                        <div class="__hr_list __dfc">
                            <div class="__hr_l_item __login">
                                <a href="https://nomadx.world/login" routerLinkActive="active">Нэвтрэх</a>
                            </div>
                            <div class="__hr_l_item __register">
                                <a href="https://nomadx.world/register" routerLinkActive="active">Бүртгүүлэх</a>
                            </div>

                            <div class="__hr_l_item __dark __dfcc"><span class="__icon __dark_light" (click)="darkMode()"></span></div>
                        </div>
                    </div>
                    <div class="__header_right" *ngIf="isMobile">
                        <div class="__dfc">
                            <div class="__mobile_search" (click)="searchForm()"><span></span></div>
                            <div class="__menu_small" [class.open]="collapseBtn" (click)="toggleMegaMenu()"><span></span><span></span><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="__menu_m_wrap" *ngIf="isMobile" [class.open]="collapseBtn">
        <div class="__block __mobile">
            <div class="__logreg_btns">
                <a (click)="closeMenu()" href="https://nomadx.world/login">Нэвтрэх</a>
                <a (click)="closeMenu()" href="https://nomadx.world/register" class="__register_btn">Бүртгүүлэх</a>
            </div>
            <ul>
                <li><a (click)="closeMenu()" [routerLink]="['../']">Нүүр</a></li>
                <li><a (click)="closeMenu()" [routerLink]="['../market', 'all']">Marketplace</a></li>
                <li><a (click)="closeMenu()" href="https://nomadx.world">Wallet</a></li>
            </ul>
        </div>
      </div>
      <div class="__visited" (click)="closeMenu()" *ngIf="collapseBtn || isViewSearch"></div>
</div>
