.__logout_btn {
  padding: 0 16px !important;
  border-color: #e91e63;
  color: #e91e63;
  cursor: pointer;
}

.__logout_btn_sec {
  display: flex;
  align-items: center;
  justify-content: space-between;

  a {
    cursor: pointer;
  }

  .__logout_btn {
    background: #e91e63;
    color: #fff;
    font-weight: 500;
    line-height: 28px;
    height: 28px;
    transition: all .15s ease-in;
    transform: skew(-5deg);
  }
}
