<div class="nft_profile">
    <div class="__profile_wrap">
        <div class="__profile_head">
            <div class="wrap_container">
                <div class="__dg __profile_h_g __aic">
                    <div class="__profile_img">
                        <img src="../../../assets/images/original.jpeg" alt="Гарчиг" />
                    </div>
                    <div class="__profile_info">
                        <h2>Baasanbat</h2>
                        <p>info@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="__profile_main">
            <div class="wrap_container">
                <div class="">
                    <div class="__tab_wrap">
                        <div class="__tab_head">
                            <div class="__tab_item active">Хэтэвч</div>
                            <div class="__tab_item">Хувийн мэдээлэл</div>
                            <div class="__tab_item">Миний NFT</div>
                            <div class="__tab_item">2FA баталгаажуулалт</div>
                        </div>
                        <div class="__tab_main">
                            <div class="__profile_tab">
                                <div class="__profile_tab_head">
                                    <div class="__profile_tab_item active">Орлого</div>
                                    <div class="__profile_tab_item">Зарлага</div>
                                </div>
                                <div class="__profile_tab_main">
                                    <div class="__box_item">
                                        <div class="__dg __g24_1 __gap1">
                                            <div class="__icon __wallet_icon"></div>
                                            <div class="__c_count_p">
                                                <label>Нийт үлдэгдэл</label>
                                                <h4><p class="__balance_coin">0.00000000</p><span class="__current_balance">URG</span></h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="__mt2_4">
                                        <label class="__label">Орлого хийх хаяг</label>
                                        <div class="__dg __g24_1 __gap1">
                                            <div class="__c_addr_copy"><span class="__icon"></span><i>Хаягийг хуулах</i></div>
                                            <h2 class="__b_ch_addr">43k3WXZ1MdSMLjuEB7596ymX2yRXVdLzQr</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
