<div class="wrap_container">
  <section>
      <!-- <h3 class="__page_title">Explore</h3> -->
      <div class="__page_head __dfjs">
          <div class="nft_category">
              <ul class="__dfc">
                  <li><span [ngClass]="{'active': selectedIndex === 0}" (click)="selectTab('all', 0)">All NFT's</span></li>
                  <li><span [ngClass]="{'active': selectedIndex === 1}" (click)="selectTab('esport', 1)">E-Sport's</span></li>
                  <li><span [ngClass]="{'active': selectedIndex === 2}" (click)="selectTab('animation', 2)">Animation</span></li>
                  <li><span [ngClass]="{'active': selectedIndex === 3}" (click)="selectTab('movie', 3)">Movie</span></li>
              </ul>
          </div>
          <div class="nft_filter __dfc">
              <div class="__filter_item __dfc"><span class="__icon __filter"></span>Шүүлтүүр</div>
              <div class="__filter_item __dfc"><span class="__icon __sort"></span>Эрэмбэлэх</div>
          </div>
      </div>
      <div class="__page_box">
          <div class="__page_box_main">
              <div class="__dg __g4 __gap2_4">
                  <a [routerLink]="['/detail', item.id]" class="__box_item" *ngFor="let item of nftList" [ngClass]="{'__closed': item.status === 'closed' }" [class.many]="item.limit >= 10">
                      <div class="__box_i_head">
                          <div class="__box_status" [ngClass]="{'__open': item.status === 'active', '__soon': item.status === 'soon', '__closed': item.status === 'closed' }">{{ item.status === 'active' ? 'Нээлттэй' : item.status === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}</div>
                          <div class="__img_box">
                              <div class="__img_box_content">
                                <img [src]="IMG_PATH + item.photo"/>
                              </div>
                          </div>
                      </div>
                      <div class="__box_i_main">
                          <h2 class="__box_title">{{ item.name }}</h2>
                          <div class="__box_price">
                              <label>Үнэ</label>
                              <span>{{ item.priceMNT < 100 ? '-' : item.priceMNT | number }}<i>URG</i></span>
                              <span>{{ item.priceMNT * 2 < 100 ? '-' : item.priceMNT * 2 | number }}<i>MNT</i></span>
                          </div>
                          <div class="__box_im_f">
                              <div class="__like_share __like"><span></span>{{ item.like }}</div>
                              <div class="__like_share __share"><span></span>{{ item.share }}</div>
                          </div>
                      </div>
                      <div class="__item_shadow"></div>
                      <div class="__item_shadow __rear"></div>
                  </a>
              </div>
          </div>
      </div>
  </section>
</div>

