<div class="wrap_container">
    <div class="__lr_wrap">
        <div class="__form_wrap">
            <h2>Нэвтрэх</h2>
            <div class="__form_main">
                <form>
                    <div class="__form_item">
                        <label class="__label">Утасны дугаар</label>
                        <input type="email" formControlName="username" class="__input" placeholder="" />
                    </div>
                    <div class="__form_item">
                        <label class="__label">Нууц үг</label>
                        <input type="password" formControlName="password" class="__input" placeholder="" />
                    </div>
                    <div class="__btn_item">
                        <a routerLink=""><button type="button" class="__btn __primary __w10">Нэвтрэх</button></a>
                    </div>
                </form>
                <div class="__form_content">
                    <a routerLink="/forgot">Нууц үг мартсан</a>
                    <a routerLink="/register">Бүртгүүлэх</a>
                </div>
            </div>
        </div>
    </div>
</div>
