<div class="wrap_container">
    <div class="__lr_wrap">
        <div class="__form_wrap">
            <h2>Бүртгүүлэх үүсгэх</h2>
            <div class="__form_main">
                <form>
                    <div class="__form_item">
                        <label class="__label">Утасны дугаар</label>
                        <input type="text" class="__input" />
                        <div class="__help_error" *ngIf="registForm.controls['phone'].invalid && registForm.controls['phone'].value !== ''">Утасны дугаар буруу байна</div>
                    </div>
                    <div class="__form_item">
                        <label class="__label">Нууц үг</label>
                        <input type="password" class="__input" (input)="regexCheck()" />
                        <div class="__valid_tooltip" *ngIf="!regex1 || !regex2 || !regex3 || !regex4">
                        <ul>
                            <li><span class="__valid_icon" [ngClass]="{'__error' : !regex1, '__done' : regex1}"></span>Хамгийн багадаа 8 үсэг</li>
                            <li><span class="__valid_icon" [ngClass]="{'__error' : !regex2, '__done' : regex2}"></span>1 том үсэг</li>
                            <li><span class="__valid_icon" [ngClass]="{'__error' : !regex3, '__done' : regex3}"></span>1 тоо</li>
                            <li><span class="__valid_icon" [ngClass]="{'__error' : !regex4, '__done' : regex4}"></span>1 тэмдэгт</li>
                        </ul>
                        </div>
                    </div>
                    <div class="__form_item">
                        <label class="__label">Нууц үг давтах</label>
                        <div class="__valid_item">
                            <input type="password" class="__input" placeholder="" />
                        </div>
                        <div class="__help_error" *ngIf="checkSamePassword() && secondPass !== undefined">Нууц үг таарахгүй байна</div>
                    </div>
                    <div class="check_term">
                        <label class="label">
                            <label class="checkbox-label">
                                <input type="checkbox" name="check" class="checkbox">
                                <span class="checkmark"></span>

                            </label>
                        </label>
                        <div class="label-text">Би Nomadic wallet <a class="__Term" (click)="showTerm()">Үйлчилгээний нөхцөл</a>ийг зөвшөөрч байна</div>
                    </div>
                    <div class="__btn_item">
                        <button type="button" type="submit" [disabled]="registForm.invalid || checkSamePassword()" class="__btn __primary __reg_btn __w10">Бүртгүүлэх</button>
                    </div>
                </form>
                <div class="__form_content">
                    <p>Бүртгэлтэй бол? <a routerLink="/login">Нэвтрэх</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
