<div class="__market_slider" [ngStyle]="{'height.px': markStyle}">
  <div  class="swiper-container" [swiper]="config">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="__slider_item" [ngStyle]="{'height.px': markStyle}" style="background-image: url('../../../assets/images/bn1.png')"></div>
      </div>
      <div class="swiper-slide">
        <div class="__slider_item" [ngStyle]="{'height.px': markStyle}" style="background-image: url('../../../assets/images/bn2.png')"></div>
      </div>
      <div class="swiper-slide">
        <div class="__slider_item" [ngStyle]="{'height.px': markStyle}" style="background-image: url('../../../assets/images/bn3.png')"></div>
      </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div #currentWrap>
  <div class="wrap_container">
    <section>
      <h3 class="__page_title" routerLink="/market/movie">Movie</h3>
      <div class="__page_box">
        <div class="__page_box_main">
          <div class="__dg __g4 __gap2_4">
            <a [routerLink]="['/detail', item.id]" *ngFor="let item of movieNFT; let i=index" class="__box_item"
              [ngClass]="{'__closed': item.status === 'closed' }" [class.many]="item.limit >= 10">
              <div class="__box_i_head">
                <div class="__box_status"
                  [ngClass]="{'__open': item.status === 'active', '__soon': item.status === 'soon', '__closed': item.status === 'closed' }">
                  {{ item.status === 'active' ? 'Нээлттэй' : item.status === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}
                </div>
                <div class="__img_box">
                  <div class="__img_box_content">
                    <img [src]="IMG_PATH + item.photo" />
                  </div>
                </div>
              </div>
              <div class="__box_i_main">
                <h2 class="__box_title">{{ item.name }}</h2>
                <div class="__box_price">
                  <label>Үнэ</label>
                  <span>{{ item.priceMNT | number}}<i>URG</i></span>
                  <span>{{ item.priceMNT * 2 | number }}<i>MNT</i></span>
                </div>
                <div class="__box_im_f">
                  <div class="__like_share __like"><span></span>{{ item.like }}</div>
                  <div class="__like_share __share"><span></span> {{ item.share }}</div>
                </div>
                <div class="__box_im_c __dfjs">
                  <label>Зохиогч</label>
                  <div class="__dfc __aic">
                    <div class="__creat_img">
                      <img [src]="IMG_PATH + item.ownerPhoto" />
                    </div>
                    <div class="__creat_name">{{ item.creator }}</div>
                  </div>
                </div>
              </div>
              <div class="__item_shadow"></div>
              <div class="__item_shadow __rear"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h3 class="__page_title" routerLink="/market/animation">Animation</h3>
      <div class="__page_box">
        <div class="__page_box_main">
          <div class="__dg __g4 __gap2_4">
            <a [routerLink]="['/detail', item.id]" *ngFor="let item of animationNFT; let i=index" class="__box_item"
              [ngClass]="{'__closed': item.status === 'closed' }" [class.many]="item.limit >= 10">
              <div class="__box_i_head">
                <div class="__box_status"
                  [ngClass]="{'__open': item.status === 'active', '__soon': item.status === 'soon', '__closed': item.status === 'closed' }">
                  {{ item.status === 'active' ? 'Нээлттэй' : item.status === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}
                </div>
                <div class="__img_box">
                  <div class="__img_box_content">
                    <img [src]="IMG_PATH + item.photo" />
                  </div>
                </div>
              </div>
              <div class="__box_i_main">
                <h2 class="__box_title">{{ item.name }}</h2>
                <div class="__box_price">
                  <label>Үнэ</label>
                  <span>{{ item.priceMNT < 100 ? '-' : item.priceMNT | number }}<i>URG</i></span>
                  <span>{{ item.priceMNT * 2 < 100 ? '-' : item.priceMNT * 2 | number }}<i>MNT</i></span>
                </div>
                <div class="__box_im_f">
                  <div class="__like_share __like"><span></span>{{ item.like }}</div>
                  <div class="__like_share __share"><span></span> {{ item.share }}</div>
                </div>
                <div class="__box_im_c __dfjs">
                  <label>Зохиогч</label>
                  <div class="__dfc __aic">
                    <div class="__creat_img">
                      <img [src]="IMG_PATH + item.ownerPhoto" />
                    </div>
                    <div class="__creat_name">{{ item.creator }}</div>
                  </div>
                </div>
              </div>
              <div class="__item_shadow"></div>
              <div class="__item_shadow __rear"></div>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section>
    <h3 class="__page_title" routerLink="/market/esport">E-Sport</h3>
    <div class="__page_box">
      <div class="__page_box_main">
        <div class="__dg __g4 __gap2_4">
          <a [routerLink]="['/detail', item.id]" *ngFor="let item of esportNFT; let i=index" class="__box_item"
            [ngClass]="{'__closed': item.status === 'closed' }" [class.many]="item.limit >= 10">
            <div class="__box_i_head">
              <div class="__box_status"
                [ngClass]="{'__open': item.status === 'active', '__soon': item.status === 'soon', '__closed': item.status === 'closed' }">
                {{ item.status === 'active' ? 'Нээлттэй' : item.status === 'closed' ? 'Хаалттай' : 'Тун удахгүй' }}
              </div>
              <div class="__img_box">
                <div class="__img_box_content">
                  <img [src]="IMG_PATH + item.photo" />
                </div>
              </div>
            </div>
            <div class="__box_i_main">
              <h2 class="__box_title">{{ item.name }}</h2>
              <div class="__box_price">
                <label>Үнэ</label>
                <span>{{ item.priceMNT | number }}<i>URG</i></span>
                <span>{{ item.priceMNT * 2 | number}}<i>MNT</i></span>
              </div>
              <div class="__box_im_f">
                <div class="__like_share __like"><span></span>{{ item.like }}</div>
                <div class="__like_share __share"><span></span> {{ item.share }}</div>
              </div>
              <div class="__box_im_c __dfjs">
                <label>Зохиогч</label>
                <div class="__dfc __aic">
                  <div class="__creat_img">
                    <img [src]="IMG_PATH + item.ownerPhoto" />
                  </div>
                  <div class="__creat_name">{{ item.creator }}</div>
                </div>
              </div>
            </div>
            <div class="__item_shadow"></div>
            <div class="__item_shadow __rear"></div>
          </a>
        </div>
      </div>
    </div>
  </section>
</div>
