<div class="nft_footer">
    <div class="wrap_container">
        <div class="__dg __footer_col">
            <div class="__footer_logo"><span></span></div>
            <div class="__dg __g2 __gap4">
                <ul class="">
                    <h3>NomadX NFT</h3>
                    <li><a routerLink="">Түгээмэл асуулт хариулт</a></li>
                    <li><a routerLink="">Бидэнтэй холбогдох</a></li>
                </ul>
                <ul class="">
                    <h3>Олон нийтийн сүлжээ</h3>
                    <li><a routerLink="">Instagram</a></li>
                    <li><a routerLink="">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="__footer_copyrights __dfcc">
        <p>NomadX &copy; 2021</p>
    </div>
</div>